[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "org.manualai.mydog",
      "sha256_cert_fingerprints": [
        "REPLACE_WITH_THE_SHA256_FINGERPRINT_OF_THE_PLAY_UPLOAD_CERTIFICATE"
      ]
    }
  }
]
